
.container{
    display: flex;
    justify-content: space-evenly;
    background-color: lightgoldenrodyellow;
    padding: 20px;
}

.container img{
    height: 200px;
    width: 200px;
    }